VITE_AUTH_API_BASE_URL=http://localhost:8091
VITE_ARTICLES_API_BASE_URL=http://localhost:8092
VITE_USERS_API_BASE_URL=http://localhost:8093
VITE_AGENTS_API_BASE_URL=http://localhost:8094
VITE_LOG_LEVEL=info
